<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vk News Picker - Home</title>
    <link href="/public/CSS/style.css" type="text/css" rel="stylesheet">
    <script src="https://vk.com/js/api/openapi.js?140" type="text/javascript"></script>
    <script src="/public/vk-api/news-service.js" type="text/javascript"></script>
    <script src="/public/vk-api/user-service.js" type="text/javascript"></script>
    <script src="/public/JS/util.js" type="text/javascript"></script>
</head>

<body>

    <div id="head_menu">
        VK News Picker
    </div>

    <!-- VK API initialization -->
    <script type="text/javascript">
        VK.init({
            apiId: 5909529,
        });
    </script>

    <div id="vk_auth">
        <script type="text/javascript">
            VK.Widgets.Auth("vk_auth", {
                onAuth: function(data) {
                    getUserId(data);
                }
            });
        </script>
    </div>

    <!-- https://vk.com/dev/newsfeed.search?params[q]=%23music&params[extended]=0&params[count]=3&params[v]=5.62 -->
    <div id="news_container">
        <script>
            getNews("#nba", 5, function(data) {
                if (data.error) {
                    alert(data.error.error_msg);
                } else {
                    document.getElementById('news_container').innerHTML +=
                        "<br> FILTERABLE: <br>";
                    //var filterableResponse = filterGroupsNews(data.response);
                    //printNews(filterableResponse);
                    document.getElementById('news_container').innerHTML +=
                        "<br> NON-FILTERABLE: <br>";
                    printNews(data.response);
                }
            });
        </script>
    </div>
</body>

</html>
